#nome {
    color: #0f1111;
    text-align: right;
}

body {
    background-color: rgb(233, 245, 248);
}

#bemvindo {
    color: red;
    text-align: center;
}

.menu {
    background-color: #ccc;
    border: 1px solid rgb(172, 172, 172);
    margin-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 20px;
    width: 1200px;
}

a:hover {
    color: rgb(249, 75, 75);
}

p, li {
    color: #0f1111;
    font-size: 12pt;
}

.titulo {
    color: red;
}

.galeria {
    border: 2px solid rgb(172, 172, 172);
    background-color: #ccc;
    width: 1200px;
    padding: 20px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}

.imagem {
    display: inline-block;
    border: 2px solid rgb(172, 172, 172);
    background-color: rgb(155, 155, 155);
    text-align: center;
    width: 350px;
    height: 450px;
    margin: 15px;

}

.imagem img {
    width: auto;
    height: 300px;
    margin-top: 50px; 
}

.imagem:hover {
    background-color: #ccc;
}

.imagem:hover #peimagem {
    color: red;
}

#peimagem {
    font-weight: bold;
    color: #0f1111;
    font-size: 12pt;
}

